{%extends 'mtunes/basic.html'%}
{% block title%}SoundSafari{% endblock %}

{% block body %}
  {% load static %}
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{%static 'mtunes/music.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{%static 'mtunes/VettaiyaaduVilaiyaadu_poster.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{%static 'mtunes/poster1night.jpg'%}" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

      <!-- CARDS -->
      <h2 style = "padding-left: 8%; padding-top: 2%; font-family: 'Verdana';">Trending songs</h2>
      
      <div class="row" style="padding-top: 2%; padding-left: 7%;">
      {%for i in song %}
      <div style = "padding-left: 2%; padding-bottom: 3%;">
      <div class="card" style="width: 18rem; ">
        <img src="/media/{{i.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.tags}}</p>
          <a href="/mtunes/songs/{{i.song_id}}" class="btn btn-outline-danger">Listen Song</a>
        </div>
      </div>
      </div>
      
      {%endfor%}
      </div>
      <hr>


      <h2 style = "padding-left: 8%; padding-top: 2%; font-family: 'Verdana';">Favorite Playlists</h2>
      <div class="row" style="padding-top: 2%; padding-left: 7%;">

      <div style = "padding-left: 2%; padding-bottom: 3%;">
      <div class="card" style="width: 18rem; ">
        <img src="{%static 'mtunes/m3.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tamil hits</h5>
          <a href="#" class="btn btn-primary">Listen</a>
        </div>
      </div>
      </div>

      <div style = "padding-left: 2%">
      <div class="card" style="width: 18rem;">
        <img src="{%static 'mtunes/m3.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fast Beat Songs</h5>
          <a href="#" class="btn btn-primary">Listen</a>
        </div>
      </div>
      </div>

      <div style = "padding-left: 2%">
        <div class="card" style="width: 18rem;">
          <img src="{%static 'mtunes/m3.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">English Songs</h5>
            <a href="#" class="btn btn-primary">Listen</a>
          </div>
        </div>
        </div>
      </div>
      <hr>

      <h2 style = "padding-left: 8%; padding-top: 2%; font-family: 'Verdana';">Liked Songs</h2>
      <div class="row" style="padding-top: 2%; padding-left: 7%;">

      <div style = "padding-left: 2%; padding-bottom: 3%;">
      <div class="card" style="width: 18rem; ">
        <img src="{%static 'mtunes/nightssong.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Nights</h5>
          <p class="card-text">Avicii</p>
          <a href="#" class="btn btn-primary">Listen Now</a>
        </div>
      </div>
      </div>

      <div style = "padding-left: 2%">
      <div class="card" style="width: 18rem;">
        <img src="{%static 'mtunes/Ayan.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vizhi Moodi</h5>
          <p class="card-text">Harris Jayaraj, Karthik</p>
          <a href="#" class="btn btn-primary">Listen Now</a>
        </div>
      </div>
      </div>
    </div>
      
{% endblock %}